{
  "presets": [
    "@babel/react",
    "@babel/preset-typescript",
    ["@babel/env", { "modules": "auto" }]
  ],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "extensions": [".ts", ".tsx"],
        "root": ["./src"],
        "alias": {
          "root": ".",
          "src": "/src"
        }
      }
    ]
  ]
}
